{{define "govuk/language-navigation"}}
<nav class="govuk-language-navigation{{if .Classes}} {{.Classes}}{{end}}"{{if .Attributes}} {{.Attributes}}{{end}} aria-label="{{if .AriaLabel}}{{.AriaLabel}}{{else}}Language{{end}}">
  <ul class="govuk-language-navigation__list">
  {{- range .Items }}
    {{- $isCurrent := or .Current (not .Href) -}}
    {{- if $isCurrent }}
    <li class="govuk-language-navigation__list-item">
      <span class="govuk-language-navigation__text{{if .Classes}} {{.Classes}}{{end}}" aria-current="true"{{if .Lang}} lang="{{.Lang}}"{{end}}{{if .Dir}} dir="{{.Dir}}"{{end}}{{if .Attributes}} {{.Attributes}}{{end}}>
        {{- if .HTML }}{{.HTML}}{{else}}{{.Text}}{{end -}}
      </span>
    </li>
    {{- else }}
    <li class="govuk-language-navigation__list-item">
      <a class="govuk-language-navigation__link{{if .Classes}} {{.Classes}}{{end}}" href="{{.Href}}" rel="alternate"{{if .Lang}} lang="{{.Lang}}"{{end}}{{if or .HrefLang .Lang}} hreflang="{{if .HrefLang}}{{.HrefLang}}{{else}}{{.Lang}}{{end}}"{{end}}{{if .Dir}} dir="{{.Dir}}"{{end}}{{if .Attributes}} {{.Attributes}}{{end}}>
        {{- if .HTML }}{{.HTML}}{{else}}{{.Text}}{{end -}}
        {{- if .LanguageDescriptionText }}<span class="govuk-visually-hidden"> {{.LanguageDescriptionText}}</span>{{- end }}
      </a>
    </li>
    {{- end }}
  {{- end }}
  </ul>
</nav>
{{end}}
